<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="layout">
        <!-- Navigation Bar -->
        <nav class="sidebar">
            <ul class="navbar">
                <li><a href="dashboard.html">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg> Dashboard
                </a></li>
                <li><a href="/exercises/">Exercise Log</a></li>
                <li><a href="/metrics/">Health Metrics</a></li>
            </ul>
        </nav>

        <div class="container">
            <h1>Health Metrics</h1>
            



            <!-- Form to Add/Edit Exercise -->
            <form id="bpForm" class="styled-form">
                <h2>Blood Pressure</h2>
                <input type="hidden" id="userId" />
                <div class="input-group">
                  <label for="systolic">Systolic  </label>
                  <label for="diasystolic">/ Diasystolic </label>
                  <label for="pulse">Pulse </label>
                </div>
                <div class="input-group">
                  <input type="number" id="systolic"  required />
                  <input type="number" id="diasystolic"  required />
                  <input type="number" id="pulse"  required />
                </div>
                <button type="submit">Save BP</button>
              </form>

              <form id="glucoseForm" class="styled-form">
                <h2>Glucose Level</h2>
                <div class="input-group">
                    <div class="separate-container">
                        <input type="number" id="glucose"  required />
                        <label for="glucose">mmol/L </label>
                    </div>
                  </div>
                  <button type="submit">Save Glucose</button>
                </form>
            <!-- Exercise List -->
            <h2>Logs</h2>
            <ul id="metricList"></ul>
        </div>
    </div>

    
    <script src="/static/script-health.js"></script>
</body>
</html>
