
.dropdown-container {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.dropdown-button {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.dropdown-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.dropdown-menu {
    position: absolute;
    bottom: 80px; /* Offset from the button */
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

#summary {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}

#latestExercises {
    list-style: none;
    background: transparent;
    padding: 0;
}

#latestExercises li {
    padding: 5px;
    background: transparent;
}

#exerciseSummary {
    padding: 5px;
    border-bottom: 1px solid #f3efef;
    background: #dddfe2;
    border: 1px solid #0056b3;
    border-radius: 5px;
}